<footer class="site-footer">
  <div class="footer-bars" aria-hidden="true">
    <div class="footer-bar-dark"></div>
    <div class="footer-bar-teal"></div>
  </div>
  <div class="institutional-logos">
    <a href="https://med.stanford.edu/" target="_blank" rel="noopener noreferrer external">
      <img src="{{ '/assets/images/site/public/nav_logo_stanford_medicine.png' | relative_url }}" alt="Stanford Medicine" height="80">
    </a>
    <a href="https://www.hhmi.org/scientists/rhiju-das" target="_blank" rel="noopener noreferrer external">
      <img src="{{ '/assets/images/site/public/nav_logo_hhmi.jpg' | relative_url }}" alt="Howard Hughes Medical Institute" height="60">
    </a>
  </div>
</footer>
